.home .banner {
	overflow: hidden;
	min-height: 507px;
	padding-top: 4.7rem;
    padding-bottom: 14.4rem;
    
	.bg {
		bottom: -200px;
	}
	
	h1 {
		color: $white;
		font-weight: bold;
		padding-top: 0;
		padding-bottom: 7.2rem;
	}
	
	a.button:hover {
		background-color: $white;
		color: $brand-green;
	}
	
}

.banner {
	color: $white;
	

	
	h1 {
		color: $white;
		font-weight: bold;
		padding-top: 6.7rem;
		padding-bottom: 8.45rem;
	}
	
}