header.header {
	z-index: 5;
	background-color: $brand-green;
	transition: transform .5s ease;

	.top-bar-util {
		background-color: #02532C;
		
		li.logo.tablet {
		    margin-top: .5rem;
		    margin-bottom: .5rem;
		}
		
		ul#utility-nav {
		    justify-content: flex-end;
		    li {
			    margin: .5rem 0 .55rem 1.25rem;
			    a {
				    color: $white;
				    
				&:hover {
					text-decoration: underline;
				}
				    
			    }
			    
			&:last-child a {
				padding-right: 0;
			}
			    
		    }
		}
	}
	
	#top-bar-menu {
		padding-top: .2rem;
		padding-bottom: .2rem;
		
		@include breakpoint(tablet) {
			padding-top: .35rem;
			padding-bottom: 0;
		}
		
		.top-bar-left {
			max-width: 160px;
			
			@include breakpoint(medium) {
				max-width: 100%;
			}
			
		}
		
		li.logo {
			
			&.desktop {
				a {
					padding: 0;
					display: inline-block;
					position: relative;
				    top: -20px;
				}
			}
			
		}
			
		#main-nav {
			align-items: center;
			>li {
				margin: 1.05rem 0 1.3rem 1.8rem;
				
				a {
					font-family: $font-alt;
					color: $white;
					font-size: rem-calc(18);
					text-transform: uppercase;
					letter-spacing: .075px;
					
					@include breakpoint(large) {
						font-size: rem-calc(22);
					}
					
				&:hover {
					text-decoration: underline;
				}
					
				}
				
			&.menu-item-has-children {
				margin-top: -.4rem;
				margin-bottom: 0;
			
				a {
					padding-right: 2.28rem;
					
					&:after {
						right: 12px;
						width: 10px;
						height: 5px;
						border: 0;
						background-size: contain;
					    background-position: center;
					    background-repeat: no-repeat;						
						background-image: url(../images/chev-down-white.svg);
					}
					
				}
				
				ul.submenu {
					li {
						a {
							color: $brand-green;
							font-size: rem-calc(16);
							font-family: $body-font-family;
							text-transform: none;
							padding: .7rem 1.45rem .95rem;
							border-top: 1px solid $brand-green;
							letter-spacing: 0;
							
						&:hover {
							background-color: $black;
							color: white;
							text-decoration: none;
						}
							
						}
						
					}
				}
				
			&:not(.available-properties) {
				ul.submenu {
					right: 1.2rem;
				}
			}
				
			&.available-properties {
				a {
					color: $brand-green;
					background-color: $white;
					padding: .8rem 2.283rem .576rem 1.35rem;
					
					&:after {					
						background-image: url(../images/chev-down-green.svg);
					}
					
					&:hover {
						text-decoration: none;
						background-color: $black;
						color: white;
						
						&:after {					
							background-image: url(../images/chev-down-white.svg);
						}						
						
					}

				}	
				
				&.is-active > a {
					background-color: $white;
					
					&:hover {
						background-color: $black;
						color: white;
						text-decoration: none;
					}
					
				}
							
			}
				

					
			}
							
			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $white;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
			    
		    }
		    
		}
	
	}
		
}

#offcanvas-nav {
	padding-top: 1rem;
	
	> li {
		
		> a {
			padding: 1rem;
		}
		
	&:not(.util-nav) {
		a {
			font-family: $font-alt;
			color: $brand-green;
			font-size: rem-calc(22);
			text-transform: uppercase;
			letter-spacing: .075px;			
		}
	}
	
	&.menu-item-has-children {
		
		button.submenu-toggle {
			height: 54px;
			
			&:after {
				margin-top: -5px;
				width: 13px;
				height: 8px;
				border: 0;
				background-size: contain;
			    background-position: center;
			    background-repeat: no-repeat;						
				background-image: url(../images/chev-down-green.svg);				
			}
			
		}
		
	}
	
		> ul.submenu {
			padding-left: 2rem;
			
			li {
				a {
					color: $brand-green;
					font-size: rem-calc(16);
					font-family: $body-font-family;
					text-transform: none;
					padding: .7rem 1.45rem .95rem;
					letter-spacing: 0;
					
				&:hover {
					background-color: $black;
					color: white;
					text-decoration: none;
				}
					
				}
				
			}
			
		}
		
	}
	
}

