.overflowing-card-slider {
	.left {
		position: relative;
		z-index: 2;
		margin-bottom: 2rem;
	}
	h2 {
		font-family: $header-font-family;
		font-size: rem-calc(41);
		line-height: 1.17;
		font-weight: 500;
		letter-spacing: 0;
		text-transform: none;
	}
	.slick-list {
		position: relative;
		width: 321px;
		overflow: visible;
		@include breakpoint(medium) {
			width: 351px;
		}
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		width: 50vw;
		left: -50vw;
		bottom: 0;
		top: 0;
		background-color: $white;
	}
		.slick-track {
			display: flex;
		}
		.single-slide {
			display: flex !important;
			height: auto;
			margin-right: 24px;
			.inner {
				padding: 2.4rem 2.6rem;
			}
			.heading-wrap {
				border-bottom: 1px solid $brand-green;
				padding-bottom: 1.35rem;
				margin-bottom: 2.15rem;
				h3 {
					color: $brand-green;
					font-style: italic;
					font-weight: 500;
				}
				p {
					line-height: 1.8125;
				}
			}
		}
	}
}