.team_members {
	padding-top: 7.85rem;
	padding-bottom: 11.05rem;
	
	h3.xl-heading {
		margin-bottom: 1.28em;
	}
	
	.accordion-item {		
		.img-wrap {
			width: 88px;
			height: 88px;
			border-radius: 100%;
			overflow: hidden;
			margin-bottom: .8rem;
			
			@include breakpoint(medium) {
				margin-bottom: 0;
			}
			
		}
		
		.accordion-content {
			padding: 1rem 0 .05rem;
			
			@include breakpoint(medium) {
				padding: 1rem 3.1rem .05rem;
			}
			
			.top {
				.left {
					@include breakpoint(medium) {
						width: 128px;
					}
				}
				
				.right {
					font-size: rem-calc(17);
					
					.numbers a {
						white-space: nowrap;
					}
					
					a {
						color: $black;
					}
					span {
						font-weight: bold;
					}
					
					.email {
						padding-top: .35rem;
					}
					
				}
				
			}
			
			.bottom {
				padding-top: 2.3rem;
			}
			
		}
		
	}
	
}