.team_members {
	padding-top: 7.85rem;
	padding-bottom: 11.05rem;
	
	h3.xl-heading {
		margin-bottom: 1.28em;
	}
	
	.accordion-item {
		padding: 2.5rem 0 2.6rem;
		margin-top: -1px;
		border-top: 1px solid $dark-gray;
		border-bottom: 1px solid $dark-gray;
		
		@include breakpoint(medium) {
			padding: 3.5rem 0 3.6rem;
		}
		
		a.accordion-title{
			padding: 0;
			color: $black;
			
			&:focus {
				color: $black;
			}
			
			@include breakpoint(medium) {
				padding: 0 3.1rem;
			}
			
			&:before {
				content: '';
				width: 39px;
				height: 39px;
				background-image: url(../images/accordion-chev.svg);
				transform: translateY(-50%) rotateX(0deg);
				transition: transform .4s;
			}
			
		}
		
	&.is-active {
		a.accordion-title:before {
			transform: translateY(-50%) rotateX(180deg);
		}
	}
		
		.img-wrap {
			width: 88px;
			height: 88px;
			border-radius: 100%;
			overflow: hidden;
			margin-bottom: .8rem;
			
			@include breakpoint(medium) {
				margin-bottom: 0;
			}
			
		}
		
		h2.h3 {
			font-size: rem-calc(40);
			line-height: 1.05;
			text-transform: none;
		}
		
		h3 {
			font-size: rem-calc(22);
			line-height: 1.1;			
		}
		
		.accordion-content {
			padding: 1rem 0 .05rem;
			
			@include breakpoint(medium) {
				padding: 1rem 3.1rem .05rem;
			}
			
			.top {
				.left {
					@include breakpoint(medium) {
						width: 128px;
					}
				}
				
				.right {
					font-size: rem-calc(17);
					
					.numbers a {
						white-space: nowrap;
					}
					
					a {
						color: $black;
					}
					span {
						font-weight: bold;
					}
					
					.email {
						padding-top: .35rem;
					}
					
				}
				
			}
			
			.bottom {
				padding-top: 2.3rem;
			}
			
		}
		
	}
	
}