.testimonial-slider {
	
	.inner {
		padding-top: 6.4rem;
		padding-bottom: 9rem;
		
		h3 {
			margin-bottom: 1.585em;
		}
		
	}
	
	.slider-wrap {
		position: relative;
		max-width: 890px;
		margin: auto;
		
		button {
			min-width: 0;
			padding: 0;
			width: 38px;
			height: 143px;
			background-color: $brand-green;
			position: absolute;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
			
		&.slick-prev {
			left: 0;
		}
		
		&.slick-next {
			left: auto;
			right: 0;
		}
			
		}
		
	}
	
	.t-slider {
		background-color: $white;
		max-width: 851px;
		margin: auto;
		
		.single-slide {
			padding: 5.75rem 0 4.75rem;
			margin: 0 7rem;
			
			.quote-wrap {
				line-height: 1.8125;
			}
			
			.author-wrap {
				color: $brand-green;
			}
			
		}
		
	}
	
}